html,
body {
    @apply font-maple bg-white;
}

.banner-content {
    @apply relative mb-5 overflow-hidden;
}

ul {
    @apply mb-3 pl-3 ml-6 list-disc;
}

.banner-words {
    @apply w-full sm:h-[750px] h-[400px];
    background: linear-gradient(90deg, #0C615D 0%, #0F399C 27.14%, #4C16A3 46.93%, #8A0A82 71.93%, #B4102D 100%);
}

.banner-words:after {
    content: "";
    @apply absolute h-3 bottom-0 bg-white w-full;
}

.banner-words .bg-banner-words {
    @apply absolute top-0 left-0 w-full h-full bg-no-repeat bg-cover;
}

.marquee {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}

.banner-words .anychart-credits {
    @apply hidden;
}

.banner-words svg path {
    @apply fill-transparent;
}

.timer{
    display:flex;
}
.timer h1 + h1:before{
    content:":"
}

.splide__list {
    @apply h-auto;
}

.class-speaker-row {
    @apply cursor-pointer transition-all;
}

.class-speaker-row:hover {
    @apply bg-gray-100;
}

.waves {
    position: relative;
    width: 100%;
    max-height: 100px;
}

.waves .parallax use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.zoom-content * {
    transition: 0.5s ease;
    overflow: hidden;
}

.zoom-content:hover h1,
.zoom-content:hover h2,
.zoom-content:hover h3,
.zoom-content:hover h4,
.zoom-content:hover h5 {
    transform: scale(1.2);
}

.zoom-content:hover img {
    transform: scale(0.9);
}

.count-down {
    @apply flex items-center justify-center space-x-6;
}

.count-down .digit {
    @apply sm:text-6xl text-2xl text-center mb-0 pb-0 leading-none;
}

.count-down .digit-text {
    @apply sm:text-md text-xs uppercase text-center font-bold -mt-3;
}

.panelist-group-header {
    @apply flex items-center space-x-3;
}

.panelist-group-header .show {
    @apply cursor-pointer;
    transition: ease all 0.3s;
}

.panelist-group-header .show.active {
    transform: rotate(90deg);
}

.panelist-group-detail.active {
    @apply block;
}

.panelist-group-detail {
    @apply hidden;
}

.schedule-day,
.category-allies {
    @apply hidden;
}

.schedule-day.active,
.category-allies.active {
    @apply block;
}

.btn-change-day,
.btn-change-category-allies {
    @apply border border-purple bg-white shadow-sm text-purple hover:bg-purple hover:text-white;
}

.btn-change-category-allies {
    @apply min-w-[150px];
}

.btn-change-day.active,
.btn-change-category-allies.active {
    @apply border-transparent bg-purple text-white hover:bg-purple-dark;
}

.link {
    @apply underline text-[#019DF4] font-bold;
}

.add-event-button {
    @apply border-0 p-3 text-center !important;
}

.add-event-button b {
    @apply text-[8px] uppercase;
}

.add-event-button img {
    @apply h-[32px] w-full;
}

.add-event-button .addeventatc_icon {
    @apply hidden !important;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
