/* Regular */
@font-face {
    font-family: 'Maple';
    font-weight: normal;
    src: url('../fonts/Maple-Regular.otf');
}

/* Bold */
@font-face {
    font-family: 'Maple';
    font-weight: bold;
    src: url('../fonts/Maple-Bold.otf');
}

/* Medium */
@font-face {
    font-family: 'Maple';
    font-weight: 500;
    src: url('../fonts/Maple-Medium.otf');
}

/* Black */
@font-face {
    font-family: 'Maple';
    font-weight: 900;
    src: url('../fonts/Maple-Black.otf');
}

/* Tiempos Light */
@font-face {
    font-family: 'Tiempos';
    font-weight: 300;
    src: url('../fonts/Tiempos-Headline-Light.ttf');
}
