footer {
    @apply relative py-10 bg-no-repeat bg-cover flex items-center;
}

footer .waves {
    position: relative;
    width: 100%;
    min-height: 100px;
    max-height: 120px;
}

footer .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
